/* =========================================================
   CSS VARIABLES (THEME COLORS)
   ========================================================= */
:root {
  /* Light theme colors */
  --light-bg: #fafafa;
  --light-text: #1d1d1f;
  --light-text-secondary: #6e6e70;
  --light-icon: #1d1d1f;
  --light-card: rgba(250, 250, 250, 0.75);
  --light-secondary-card: #f3f3f3;
  --light-tirtary-card: #e9e9e9;
  --light-border: rgba(0, 0, 0, 0.1);

  /* Dark theme colors */
  --dark-bg: #0a0a0a;
  --dark-text: #f5f5f7;
  --dark-text-secondary: #3d3d3d;
  --dark-icon: #f5f5f7;
  --dark-card: rgba(10, 10, 10, 0.75);
  --dark-secondary-card: #0f0f0f;
  --dark-tirtary-card: #151515;
  --dark-border: rgba(255, 255, 255, 0.1);
}

button,
a,
.btn,
[class*="btn"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  overscroll-behavior: none !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Heebo", sans-serif;
  line-height: 1.2;
  background: #0a0a0a;
  color: var(--dark-text);
}

body.ready {
  opacity: 1;
}

/* Section */

.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Images */
.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
  object-position: center 30%;
}

.fade-image.active {
  opacity: 1;
}

/* Gradient Layer */

.gradient-layer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to top right, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0));
  z-index: 10;
}

/* Text Layer */
.text-layer {
  position: fixed;
  bottom: 62px;
  left: 1.2rem;
  z-index: 20;
  color: #f5f5f7;
  max-width: 40%;
}

.text-layer h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.text-layer p {
  color: rgb(255 255 255 / 70%);
  font-size: 18px;
}

/* Scroll Container */
.scroll-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.scroll-container button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;

  font-family: 'Heebo', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-text);

  margin-bottom: 4px;

  transform-origin: bottom center;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.scroll-container .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: -2px;
}

.scroll-container .line {
  width: 1px;
  height: 18px;
  background-color: #fff;
}


i,
svg {
  width: 20px;
  height: 20px;
  stroke: #f5f5f7;
  /* pastikan terlihat di background gelap */
}

/* Back Button*/
.btn-back {
  height: 40px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #f5f5f7;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}

.btn-back-icon {
  width: 18px;
  height: 18px;
  stroke-width: 2.2;
  display: block;
}

/*btn-play*/
.btn-play-circle {
  position: fixed;
  bottom: 78px;
  right: 1rem;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.btn-play-circle i,
.btn-play-circle svg {
  width: 24px;
  height: 24px;
  stroke: #f5f5f7;
}

.count-container {
  position: fixed;
  top: 1.4rem;
  right: 1.2rem;
  z-index: 1000;

  color: #f5f5f7;
  font-size: 14px;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
}


/*VIDEO PLAYER*/
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#video-overlay video,
#video-overlay iframe {
width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 720px) {
  .text-layer {
    position: fixed;
    bottom: 62px;
    left: 1rem;
    z-index: 20;
    color: #f5f5f7;
    max-width: 52%;
  }

  .text-layer h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .text-layer p {
    color: rgb(255 255 255 / 70%);
    font-size: 14px;
  }

}